[submodule "mashibingcode/coding-for-great-offer"]
	path = mashibingcode/coding-for-great-offer
	url = https://github.com/algorithmzuo/coding-for-great-offer.git
[submodule "mashibingcode/class-notes"]
	path = mashibingcode/class-notes
	url = https://github.com/algorithmzuo/class-notes.git
